*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding-top: 20%;
  z-index: 9999;
}
#overlay p{
  padding: 0 40px 20px 40px;
  font-size: 30px;
}
#overlay img{
  width: 40%;
  height: 40%;
}
body .backgroundimg{
  width: 100%;
  background-image: url("https://img.freepik.com/free-photo/hearing-issues-collage-design_23-2149831027.jpg?w=740&t=st=1694584069~exp=1694584669~hmac=e54a004bbeed3e41f856743f12b2e458eff861e771c22f66ca942ad7dc93d4dc");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding: 10px 30px;
}
h1:first-child{
  padding-top: 5%;
  text-shadow: 2px 2px 2px black;
}
.bcenter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  justify-content: center;
}
.div1{
font-size: 30px;
margin: 15px 0;
color: white;
text-shadow: 2px 2px 2px black;
}
input{
  height: 40px;
  font-size: 25px;
  width: auto;
}
.button1{
margin: 20px 20px 10px 20px;
}
.div2{
  font-size: 30px;
  
}
.div3{
  margin-top: 45px;
}
.div4{
  color: black; 
  text-shadow: 2px 2px white;
  margin-top: 90px;
}

label:first-child{
  color: white;
  text-shadow: 2px 2px 2px black;
}
.guide-container{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: auto;
  height: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow: auto;
}
.guide{
float: right;
display: flex;
margin-right: 20px;
}
.guide-container button:active{
background-color: red;

}
.guide-container ol{
text-align: left;
margin-top: 20px;
font-size: 20px;
}
@media screen and (max-width: 600px) {
 h1{
  font-size: 30px;
 }
 
 button{
  display: flex;
  flex-wrap: wrap;
 font-size: 18px;

 }
.div4{
  margin-top: 40px;
}
.bcenter{
  flex-direction: column;
  width: 50%;
  margin-left:25% ;
}
  }
  @media screen and (max-width: 430px) {
    h1{
     font-size: 30px;
    }
    button{
     display: flex;
     flex-wrap: wrap;
    font-size: 15px;
  padding: 5px;}
   .div1 {
    font-size: 20px;
   }
   input{
    font-size: 10px;
   }
   label{
  font-size: 20px; 
  }
   .div4{
     margin-top: 40px;
   }
   .bcenter{
     flex-direction: column;
     width: 50%;
     margin-left:25% ;
   }
     }
